@page "/contactMe"

<div class="container">
            <h1>If you have anything you would like to discuss, feel free to reach out below. </h1>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <form>
                <label for="Email"> Email address</label>
                <input type="text" name="email">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="headhunter" id="headhunter" value="headhunter" checked>
                    <label class="form-check-label" for="headhunter">
                        I'm a recruiter from a hiring agency.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="directRecruiter" id="directRecruiter" value="directRecruiter">
                    <label class="form-check-label" for="directRecruiter">
                        I'm a recruiter from a company hiring developers.
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="soloProject" id="soloProject" value="soloProject">
                    <label class="form-check-label" for="soloProject">
                        I'm an individual seeking a developer for a project. 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="makeFriends" id="makeFriends" value="makeFriends">
                    <label class="form-check-label" for="makeFriends">
                        I'm an individual looking to network with other developers. 
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="otherReason" id="otherReason" value="otherReason">
                    <label class="form-check-label" for="otherReason">
                        I want to talk about something else. That's cool too. 
                    </label>
                </div>
            </form>
        </div>
            <h3>In addition, feel free to connect to me on <a href="https://www.linkedin.com/in/bmmarth?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BS2cNOW3nQ%2BSzjNZ%2FDxTm1A%3D%3D">LinkedIn</a>
            or check out my work on <a href="https://github.com/marth21911"> Github</a>, though you have seen pretty much all my work here already.</h3>
    </div>
</div>