@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center">Brian Marth</h1>
    <h3 class="text-center">Full Stack Developer</h3>
    <div class="container">
        <div class="row justify-content-around">
            <div class="col">
                <BMarthProfile.Components.CompletedProjects/>
            </div>
            <div class="col">
                <BMarthProfile.Components.InProgressProjects/>
            </div>
        </div>

    </div>




