<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Brian Marth</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="complete">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Completed Projects
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inProgress">
                <span class="oi oi-link-broken" aria-hidden="true"></span> In Progress Projects
            </NavLink>
        </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="myStory">
                <span class="oi oi-person" aria-hidden="true"></span> My Story
            </NavLink>
        </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="funStuff">
                <span class="oi oi-star" aria-hidden="true"></span> Fun Stuff
            </NavLink>
        </div>
                <div class="nav-item px-3">
            <NavLink class="nav-link" href="contactMe   ">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contact Me
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
